<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoSleep.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoSleep.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <NoSleep.Properties.Settings>
            <setting name="DisplayRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveEnabledState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnabledState" serializeAs="String">
                <value>True</value>
            </setting>
        </NoSleep.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NoSleep.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>NoSleep</value>
            </setting>
            <setting name="AppStartupName" serializeAs="String">
                <value>NoSleep</value>
            </setting>
            <setting name="AppMutexGuid" serializeAs="String">
                <value>8b2caf22-dc35-4e70-88df-35933ab63f69</value>
            </setting>
            <setting name="RefreshIntervalMs" serializeAs="String">
                <value>10000</value>
            </setting>
        </NoSleep.Properties.Settings>
    </applicationSettings>
</configuration>
